

	<!-- fix text color in the input textarea of gitalk -->
	<style type="text/css">
		.gitalk-wrapper .gt-header-textarea {
			color: #333 !important;
		}
	</style>

	{%- include snippets/get-sources.html -%}
	{%- assign _sources = __return -%}
	<div class="gitalk-wrapper" id="js-gitalk-container"></div>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
	<script>
		window.Lazyload.css('{{ _sources.gitalk.css }}');
		window.Lazyload.js('{{ _sources.gitalk.js }}', function() {
			var gitalk = new Gitalk({
				id: '{{ page.url | truncate: 49, '' }}',
				clientID: '{{ site.comments.gitalk.clientID }}',
				clientSecret: '{{ site.comments.gitalk.clientSecret }}',
				repo: '{{ site.comments.gitalk.repository }}',
				owner: '{{ site.comments.gitalk.owner }}',
				admin: ['{{ site.gitalk.owner }}']
			});
			gitalk.render('js-gitalk-container');
		});
	</script>

